.ant-table-body {
    overflow-y: auto !important;
    scrollbar-width: thin;
}

.ant-table-body::-webkit-scrollbar {
    width: 8px;
}

.ant-table-body::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.ant-table-body::-webkit-scrollbar-track {
    background: transparent;
}